footer.footer
	section.contact-point-container.container-fluid
		.content-container.container
			.row.contact-point-row
				.col-md-5.col-lg-3.contact-col
					.contact-box
						.title
							h4 FULLSTACK VIETNAM
						p Mobile: (+84)969689893
						p Email: admin@fullstackvietnam.com
						p Address: 28 đường số 2 - CITY LAND - Phường 7 - Gò Vấp - HCM - VIETNAM
				.col-md-7.col-lg-6.links-col
					.link-box
						.row.row-01
							.col
								.title
									h4 LINKS
						.row.row-02
							.col-sm-6
								.link-box
									ul
										li.link
											a(href="#") Khóa học FrontEnd Master
										li.link
											a(href="#") Khóa học FullStack Developer
										li.link
											a(href="#") Khóa học Design chuyên nghiệp
										li.link
											a(href="#") Lịch khai giảng
										li.link
											a(href="#") Đăng kí khóa học
							.col-sm-6
								.link-box
									ul
										li.link
											a(href="#") Khóa học FrontEnd Master
										li.link
											a(href="#") Khóa học FullStack Developer
										li.link
											a(href="#") Khóa học Design chuyên nghiệp
										li.link
											a(href="#") Lịch khai giảng
										li.link
											a(href="#") Đăng kí khóa học
				.col-lg-3.email-col
					.title
						h4 Email
					form.email-form
						input(type="text" placeholder="Email của bạn . . .")
						button(type="submit") Gửi

							




	section.copyright-container.container-fluid
		.container
			.copy-right-box
				.content-box
					p.m-b-0 Copyright 2018 by 
						a(href='/') FullStack Vietnam.
				.social-box
					i.fa.fa-facebook
					i.fa.fa-twitter
			
