$maincolor: purple
html, body
	font-family: 'Roboto', sans-serif
	height: 100%
	width: 100%
	background: white
	+media-breakpoint-up(xs)
		font-size: 8px
	+media-breakpoint-up(sm)
		font-size: 10px
	+media-breakpoint-up(md)
		font-size: 14px

// header section
header
	background: white
.navbar-nav
	.nav-item
		margin-left : 1rem
		.nav-link
			font-size: 1.5rem
	
	.nav-item
		.nav-link
			text-align: center
			color: grey
			display: block
			position: relative
			+media-breakpoint-up(lg)
				&:before
					content: ""
					display: block
					height: 10px
					width: 100%
					left: 50%
					transform: translateX(-50%)
					background: $maincolor
					position: absolute
					top: -18px
					opacity: 0
				&:hover
					color: $maincolor
					&:before
						opacity: 1
	.nav-item.myactive
		.nav-link
			color: $maincolor


//  fa-arrow-left"\f060"
//  fa-arrow-right"\f061"
// footer section
$footerColor: #ffffff9c
$footerBackground: #171785
// mobile
.footer
	section.contact-point-container
		margin-top: 10px
		padding: 0
		color: $footerColor
		font-size: 0.9rem
		background: #0c9289
		.row
			margin: 0
			.contact-col
				padding: 0
				padding-right: 5px
				.contact-box
					margin-top: 20px
					h5
						color: #0e0e6f
						font-weight: bold
			.links-col
				padding: 0
				// padding-right: 10px
				.link-box
					.row-01
						.col
							padding: 0 5px
							.link-title-box
								color: #0e0e6f
								font-weight: bold
								margin-top: 20px
					.row-02
						.col-6
							padding: 0 0 0 5px
							ul
								padding: 0
								.link
									list-style: none
									position: relative
									a
										color: $footerColor
									&:before
										font-family: FontAwesome
										content: "\f061"
										font-style: normal
										font-weight: normal
										margin-right: 2px
	section.copyright-container
		background: $footerBackground
		height: 30px
		.container
			height: 100%
			.row
				height: 100%
				align-items: center
				.col-8
					.box
						p
							color: white
							margin-bottom: 0
							a
								color: white
				.col-4
					padding: 5px
					.social-box
						display: flex
						flex-direction: row-reverse 
						.social-btn
							display: block
							margin: 0 3px
							height: 20px
							width: 20px
							opacity: 0.5
							border-radius: 50%
							border: none
							&:hover
								opacity: 1

						.facebook-btn
							background: white url("../../img/facebook.png") no-repeat center center
							background-size: 30%
						.twitter-btn
							background: white url("../../img/twitter.png") no-repeat center center 
							background-size: 40%
					

// pc
.footer
	+media-breakpoint-up(md)
		section.contact-point-container
			margin-top: 40px
		section.copyright-container
			height: 50px
			.container
				.row
					.col-4
						padding: 5px
						.social-box
							.social-btn
								margin: 0 5px
								height: 30px
								width: 30px
								opacity: 0.5
								border-radius: 50%
								border: none
								&:hover
									opacity: 1

							.facebook-btn
								background-size: 30%
							.twitter-btn
								background-size: 40%
