extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row
				.col-md-3.col-sm-6.main-box
					.window
						img.img-fluid(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-sm-5
								p.gia-moi 399.00d
								p.gia-cu 1,500,000d
							.col-sm-3
								p -73%
							.col-sm-2
								
							.col-sm-2
								p 10 
				.col-md-3.col-sm-6.main-box
					.window
						img.img-fluid(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-sm-5
								p.gia-moi 399.00d
								p.gia-cu 1,500,000d
							.col-sm-3
								p -73%
							.col-sm-2
								
							.col-sm-2
								p 10
				.col-md-3.col-sm-6.main-box
					.window
						img.img-fluid(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-sm-5
								p.gia-moi 399.00d
								p.gia-cu 1,500,000d
							.col-sm-3
								p -73%
							.col-sm-2
								
							.col-sm-2
								p 10
				.col-md-3.col-sm-6.main-box
					.window
						img.img-fluid(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-sm-5
								p.gia-moi 399.00d
								p.gia-cu 1,500,000d
							.col-sm-3
								p -73%
							.col-sm-2
								
							.col-sm-2
								p 10
