extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row
				.col-md-3.col-sm-6.main-box
					.window
						.thoi-han-contain
							.row
								.col-2
									img.img-fluid(src="./img/clock2.png", alt="")
								.col-10
									p Còn 15 ngày 14:46:05
						.xem-ngay-contain
							.btn.btn-success Xem Ngay
						.doc-quyen-contain
							img.img-fluid(src="./img/docquyen2.png", alt="")
						.dia-diem-contain
							.row
								.col-2
									img.img-fluid(src="./img/location_icon.png", alt="?")
								.col-10
									p Quận 5
						.evoucher-contain
							.row
								.col-3
									img.img-fluid(src="./img/voucher.png", alt="?")
								.col-9
									p E-Voucher
						.logo-pic-contain
							img.img-fluid(src="./img/gym-logo.jpg", alt="")
						img.img-fluid.main-pic(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-5.cot-mot
								p.gia-moi 399,000
									sup đ
								p.gia-cu 1,500,000
									sup đ
							.col-3.cot-hai
								.tag-price
									.tag-price-head
									p -73%
							.col-2.cot-ba
								
							.col-2.cot-bon
								.seen
									.row
										.col-4
											img.img-fluid(src="./img/icon-nguoi.png", alt="seen")
										.col-8
											p 10 
				.col-md-3.col-sm-6.main-box
					.window
						.thoi-han-contain
							.row
								.col-2
									img.img-fluid(src="./img/clock2.png", alt="")
								.col-10
									p Còn 15 ngày 14:46:05
						.xem-ngay-contain
							.btn.btn-success Xem Ngay
						.doc-quyen-contain
							img.img-fluid(src="./img/docquyen2.png", alt="")
						.dia-diem-contain
							.row
								.col-2
									img.img-fluid(src="./img/location_icon.png", alt="?")
								.col-10
									p Quận 5
						.evoucher-contain
							.row
								.col-3
									img.img-fluid(src="./img/voucher.png", alt="?")
								.col-9
									p E-Voucher
						.logo-pic-contain
							img.img-fluid(src="./img/gym-logo.jpg", alt="")
						img.img-fluid.main-pic(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-5.cot-mot
								p.gia-moi 399,000
									sup đ
								p.gia-cu 1,500,000
									sup đ
							.col-3.cot-hai
								.tag-price
									.tag-price-head
									p -73%
							.col-2.cot-ba
								
							.col-2.cot-bon
								.seen
									.row
										.col-4
											img.img-fluid(src="./img/icon-nguoi.png", alt="seen")
										.col-8
											p 10
				.col-md-3.col-sm-6.main-box
					.window
						.thoi-han-contain
							.row
								.col-2
									img.img-fluid(src="./img/clock2.png", alt="")
								.col-10
									p Còn 15 ngày 14:46:05
						.xem-ngay-contain
							.btn.btn-success Xem Ngay
						.doc-quyen-contain
							img.img-fluid(src="./img/docquyen2.png", alt="")
						.dia-diem-contain
							.row
								.col-2
									img.img-fluid(src="./img/location_icon.png", alt="?")
								.col-10
									p Quận 5
						.evoucher-contain
							.row
								.col-3
									img.img-fluid(src="./img/voucher.png", alt="?")
								.col-9
									p E-Voucher
						.logo-pic-contain
							img.img-fluid(src="./img/gym-logo.jpg", alt="")
						img.img-fluid.main-pic(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-5.cot-mot
								p.gia-moi 399,000
									sup đ
								p.gia-cu 1,500,000
									sup đ
							.col-3.cot-hai
								.tag-price
									.tag-price-head
									p -73%
							.col-2.cot-ba
								
							.col-2.cot-bon
								.seen
									.row
										.col-4
											img.img-fluid(src="./img/icon-nguoi.png", alt="seen")
										.col-8
											p 10
				.col-md-3.col-sm-6.main-box
					.window
						.thoi-han-contain
							.row
								.col-2
									img.img-fluid(src="./img/clock2.png", alt="")
								.col-10
									p Còn 15 ngày 14:46:05
						.xem-ngay-contain
							.btn.btn-success Xem Ngay
						.doc-quyen-contain
							img.img-fluid(src="./img/docquyen2.png", alt="")
						.dia-diem-contain
							.row
								.col-2
									img.img-fluid(src="./img/location_icon.png", alt="?")
								.col-10
									p Quận 5
						.evoucher-contain
							.row
								.col-3
									img.img-fluid(src="./img/voucher.png", alt="?")
								.col-9
									p E-Voucher
						.logo-pic-contain
							img.img-fluid(src="./img/gym-logo.jpg", alt="")
						img.img-fluid.main-pic(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-5.cot-mot
								p.gia-moi 399,000
									sup đ
								p.gia-cu 1,500,000
									sup đ
							.col-3.cot-hai
								.tag-price
									.tag-price-head
									p -73%
							.col-2.cot-ba
								
							.col-2.cot-bon
								.seen
									.row
										.col-4
											img.img-fluid(src="./img/icon-nguoi.png", alt="seen")
										.col-8
											p 10
