extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row
				.col-md-3.col-sm-6.main-box
					.window
						img.img-fluid(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-5.cot-mot
								p.gia-moi 399,000
									sup đ
								p.gia-cu 1,500,000
									sup đ
							.col-3.cot-hai
								.tag-price
									.tag-price-head
									p -73%
							.col-2.cot-ba
								
							.col-2.cot-bon
								.row
									.col
										p
								.row
									.col
										p
								.row
									.col
										p 10 
				.col-md-3.col-sm-6.main-box
					.window
						img.img-fluid(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-5.cot-mot
								p.gia-moi 399,000
									sup đ
								p.gia-cu 1,500,000
									sup đ
							.col-3.cot-hai
								.tag-price
									.tag-price-head
									p -73%
							.col-2.cot-ba
								
							.col-2.cot-bon
								.row
									.col
										p
								.row
									.col
										p
								.row
									.col
										p 10
				.col-md-3.col-sm-6.main-box
					.window
						img.img-fluid(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-5.cot-mot
								p.gia-moi 399,000
									sup đ
								p.gia-cu 1,500,000
									sup đ
							.col-3.cot-hai
								.tag-price
									.tag-price-head
									p -73%
							.col-2.cot-ba
								
							.col-2.cot-bon
								.row
									.col
										p
								.row
									.col
										p
								.row
									.col
										p 10
				.col-md-3.col-sm-6.main-box
					.window
						img.img-fluid(src="./img/ngoc-trinh.jpg", alt="")
						.row
							.col.description
								p 06 tuần tập chuyên nghiệp cùng HLV thể hình ...
								hr
						.row
							.col-5.cot-mot
								p.gia-moi 399,000
									sup đ
								p.gia-cu 1,500,000
									sup đ
							.col-3.cot-hai
								.tag-price
									.tag-price-head
									p -73%
							.col-2.cot-ba
								
							.col-2.cot-bon
								.row
									.col
										p
								.row
									.col
										p
								.row
									.col
										p 10
