extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		section.main-carousel-container
			.owl-carousel.owl-theme.main-carousel
				.banner-box
					figure
						img.img-fluid(src="./img/home-banner-01.png", alt="")
					figcaption.banner-title
						h1 Chúng tôi là Fullstack Vietnam
						h4 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas necessitatibus neque qui consequuntur illum nihil.
				.banner-box
					figure
						img.img-fluid(src="./img/home-banner-01.png", alt="")
					figcaption.banner-title
						h1 Chúng tôi là Fullstack Vietnam
						h4 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas necessitatibus neque qui consequuntur illum nihil.
				.banner-box
					figure
						img.img-fluid(src="./img/home-banner-01.png", alt="")
					figcaption.banner-title
						h1 Chúng tôi là Fullstack Vietnam
						h4 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas necessitatibus neque qui consequuntur illum nihil.
		section.main-content-container.container-fluid
			.main-title
				h1 Fullstack 
					span chuyên nghiệp
			.main-content-box.container
				.row.content-row
					.col-4
						.course-box
							figure.pic-box
								img.img-fluid.course-pic(src="./img/hone-service-01.png", alt="")
								img.img-fluid.eye-focus(src="./img/eye.png", alt="")
							figcaption.course-description
								h6.course-title Trung tâm đào tạo IT chuyên nghiệp
								date 26/08/2018
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi laudantium porro quae, sapiente officia...
					.col-4
						.course-box
							figure.pic-box
								img.img-fluid.course-pic(src="./img/hone-service-02.png", alt="")
								img.img-fluid.eye-focus(src="./img/eye.png", alt="")
							figcaption.course-description
								h6.course-title Trung tâm đào tạo IT chuyên nghiệp
								date 26/08/2018
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi laudantium porro quae, sapiente officia...
					.col-4
						.course-box
							figure.pic-box
								img.img-fluid.course-pic(src="./img/hone-service-03.png", alt="")
								img.img-fluid.eye-focus(src="./img/eye.png", alt="")
							figcaption.course-description
								h6.course-title Trung tâm đào tạo IT chuyên nghiệp
								date 26/08/2018
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi laudantium porro quae, sapiente officia...
		section.customers-container.container
			.owl-carousel.owl-theme.customers-carousel
				.customer-box
					img.img-fluid(src="./img/home-company2-logo-01.png", alt="")
				.customer-box
					img.img-fluid(src="./img/home-company2-logo-02.png", alt="")
				.customer-box
					img.img-fluid(src="./img/home-company2-logo-03.png", alt="")
				.customer-box
					img.img-fluid(src="./img/home-company2-logo-04.png", alt="")
				.customer-box
					img.img-fluid(src="./img/home-company2-logo-05.png", alt="")
				.customer-box
					img.img-fluid(src="./img/home-company2-logo-06.png", alt="")
				.customer-box
					img.img-fluid(src="./img/home-company2-logo-05.png", alt="")
				.customer-box
					img.img-fluid(src="./img/home-company2-logo-06.png", alt="")






