extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.logo
				.row
					.col-md-4
						img.img-fluid(src="./img/logo.png", alt="logo")
					.col-md-8
						h3 using simple layout the create the several difference looks
			.navigate
				a(href="#") Home
				a(href="#") About
				a(href="#") Services
				a(href="#") Contact us
			.title
				.row
					.col-md-3
						img.img-fluid(src="./img/kite.png", alt="kite")
					.col-md-9
						.row
							.col
								h1 About
						.row
							.col
								h4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa iste rem libero consectetur vero, corrupti nostrum possimus reiciendis nobis voluptatem ea deleniti aperiam tempore eos doloribus eum quo perferendis magni.
			.content
				.row
					.col-md-4
						h3
							a(href="#") About us
						h3
							a(href="#") How we work
						h3
							a(href="#") Test
						h3
							a(href="#") Contact support
					.col-md-8
						h1 How we work
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque natus odit reiciendis repellat tenetur molestiae temporibus sint? Expedita soluta vero ad. Illo tempore quidem laudantium aut error natus voluptates minima?
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque natus odit reiciendis repellat tenetur molestiae temporibus sint? Expedita soluta vero ad. Illo tempore quidem laudantium aut error natus voluptates minima?
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque natus odit reiciendis repellat tenetur molestiae temporibus sint? Expedita soluta vero ad. Illo tempore quidem laudantium aut error natus voluptates minima?



