extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.logo
				.row
					.col-md-4
						img.img-fluid(src="./img/logo.png", alt="logo")
					.col-md-8
						p using simple layout the create the several difference looks
			.navigate
				.row
					a(href="#") Home
					a(href="#") About
					a(href="#") Services
					a(href="#") Contact Us
			.title
				.row
					.col-md-3
						img.img-fluid(src="./img/logoxinh.png", alt="mainlogo")
					.col-md-9.col-sm-12
						.row
							.col.main-title
								h1 About
						.row
							.col
								h4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa iste rem libero conse ctetur vero, corrupti nostrum possimus reiciendis nobis voluptatem ea delen iti ape riam tempore eos doloribus eum quo perferendis magni.
			.content
				.row
					.col-md-3
						a(href="#") About Us
						a(href="#") How We Work
						a(href="#") Test
						a(href="#") Contact Support
					.col-md-9
						h1 How we work
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque natus odit reiciendis repellat tenetur molestiae temporibus sint? Expedita soluta vero ad. Illo tempore quidem laudantium aut error natus voluptates minima?
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque natus odit reiciendis repellat tenetur molestiae temporibus sint? Expedita soluta vero ad. Illo tempore quidem laudantium aut error natus voluptates minima?
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque natus odit reiciendis repellat tenetur molestiae temporibus sint? Expedita soluta vero ad. Illo tempore quidem laudantium aut error natus voluptates minima?



