extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row
				.col-md-4.item
					figure
						.img-box
							img.img-fluid(src="./img/home_product_01.png", alt="")
					figcaption
						h3 fdjfajd;fkjadfads
						date 26/07/2018
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cupiditate ipsum fugiat, odio officia itaque reiciendis natus illo nostrum delectus autem labore possimus. Non voluptates repudiandae sed adipisci, cumque obcaecati!
				.col-md-4.item
					figure
						.img-box
							img.img-fluid(src="./img/home_product_01.png", alt="")
					figcaption
						h3 fdjfajd;fkjadfads
						date 26/07/2018
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cupiditate ipsum fugiat, odio officia itaque reiciendis natus illo nostrum delectus autem labore possimus. Non voluptates repudiandae sed adipisci, cumque obcaecati!
				.col-md-4.item
					figure
						.img-box
							img.img-fluid(src="./img/home_product_01.png", alt="")
					figcaption
						h3 fdjfajd;fkjadfads
						date 26/07/2018
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cupiditate ipsum fugiat, odio officia itaque reiciendis natus illo nostrum delectus autem labore possimus. Non voluptates repudiandae sed adipisci, cumque obcaecati!

				.col-md-4.item
					figure
						.img-box
							img.img-fluid(src="./img/home_product_01.png", alt="")
					figcaption
						h3 fdjfajd;fkjadfads
						date 26/07/2018
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cupiditate ipsum fugiat, odio officia itaque reiciendis natus illo nostrum delectus autem labore possimus. Non voluptates repudiandae sed adipisci, cumque obcaecati!
				.col-md-4.item
					figure
						.img-box
							img.img-fluid(src="./img/home_product_01.png", alt="")
					figcaption
						h3 fdjfajd;fkjadfads
						date 26/07/2018
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cupiditate ipsum fugiat, odio officia itaque reiciendis natus illo nostrum delectus autem labore possimus. Non voluptates repudiandae sed adipisci, cumque obcaecati!

