extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container-fluid.no-padding
			.main-banner-box
				img.img-fluid.main-banner-pic(src="./img/home_banner_01.png", alt="my pham chat luong")
		.container.main-content-container
			.major-product-container
				.row.no-margin
					.col-md-8.no-padding
						.minor-banner-box
							img.img-fluid(src="./img/home_banner_02.png", alt="")
					.col-md-4.col-6.no-padding
						.product-box
							.product-info
								h5 Ice-cream - Maple Brown
								p 360,000
									sup 
							img.img-fluid(src="./img/home_product_01.png", alt="")
					.col-md-4.col-6.no-padding
						.product-box
							.product-info
								h5 Ice-cream - Maple Brown
								p 360,000
									sup 
							img.img-fluid(src="./img/home_product_02.png", alt="")
					.col-md-4.col-6.no-padding
						.product-box
							.product-info
								h5 Ice-cream - Maple Brown
								p 360,000
									sup 
							img.img-fluid(src="./img/home_product_03.png", alt="")
					.col-md-4.col-6.no-padding
						.product-box
							.product-info
								h5 Ice-cream - Maple Brown
								p 360,000
									sup 
							img.img-fluid(src="./img/home_product_04.png", alt="")

			.minor-product-container
			.advertise-container
			.best-seller-container
			



