extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
	section.abc
		.owl-carousel.owl-theme
			.item
				img.img-fluid(src="./img/home_banner_01.png", alt="")
			.item
				img.img-fluid(src="./img/home_banner_01.png", alt="")
			.item
				img.img-fluid(src="./img/home_banner_01.png", alt="")
			.item
				img.img-fluid(src="./img/home_banner_01.png", alt="")
			.item
				img.img-fluid(src="./img/home_banner_01.png", alt="")
			.item
				img.img-fluid(src="./img/home_banner_01.png", alt="")



		
	
		
			



