$vubackground: #730606
$vucolor: white
body
	background: $vubackground
	color: $vucolor

.container
	background: darken($vubackground,5%)
	padding: 0px
	.logo
		.row
			.col-md-8
				h3
					margin-top: 0.5rem
	.navigate
		margin: 20px 0px
		background: darken($vubackground,8%)
		a
			margin: 0
			padding: 0.5rem 3rem
			font-size: 1.5em
			text-decoration: none
			color: $vucolor
			display: inline-block
			&:hover
				background: black
	.title
		
		background: #579057
		.row
			.col-md-9
				padding: 3rem
	.content
		margin-top: 20px
		.col-md-4
			background: green
		.col-md-8
			padding: 2rem
