extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		section.main-carousel-container
			.owl-carousel.owl-theme.main-carousel
				.banner-box
					figure
						img.img-fluid(src="./img/home-main-slider-01.png", alt="")
						figcaption.banner-title
							h1 Chúng tôi là Fullstack Vietnam
							h4 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas necessitatibus neque qui consequuntur illum nihil.
				.banner-box
					figure
						img.img-fluid(src="./img/home-main-slider-01.png", alt="")
						figcaption.banner-title
							h1 Chúng tôi là Fullstack Vietnam
							h4 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas necessitatibus neque qui consequuntur illum nihil.
		section.news-container.container
			.news-title
				h1 news
			.row.news-box
				.col-md-4.item
					.box
						figure
							img.img-fluid(src="./img/home-service-01.png", alt="")
					figcaption
						h6 Trung tâm đào tạo IT chuyên nghiệp
						date 27/06/2018
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam unde suscipit consequuntur sunt ducimus accusamus neque, illum mollitia recusandae, nesciunt tenetur ex. Quibusdam, earum exercitationem adipisci nesciunt vero voluptas ipsa.

				.col-md-4.item
					.box
						figure
							img.img-fluid(src="./img/home-service-02.png", alt="")
					figcaption
						h6 Can ho Phu My Hung
						date 27/06/2018
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam unde suscipit consequuntur sunt ducimus accusamus neque, illum mollitia recusandae, nesciunt tenetur ex. Quibusdam, earum exercitationem adipisci nesciunt vero voluptas ipsa.

				.col-md-4.item
					.box
						figure
							img.img-fluid(src="./img/home-service-03.png", alt="")
					figcaption
						h6 Can ho Phu My Hung
						date 27/06/2018
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam unde suscipit consequuntur sunt ducimus accusamus neque, illum mollitia recusandae, nesciunt tenetur ex. Quibusdam, earum exercitationem adipisci nesciunt vero voluptas ipsa.
		section.orientation-container.container-fluid
			.container
				.orientation-title
					h1 định hướng phát triển
				.row.orientation-row
					.col-sm-6.col-lg-3.item
						.row
							.col-12.img-col
								.box-img
									i.fa.fa-file.fa-5x
							.col-12.title-col
								.title
									h5 tầm nhìn
							.col-12.content-col
								ul.content-list
									li Cam kết chất lượng sản phẩm tốt nhất
									li Luôn đặt chữ tín lên hàng đầu
									li Lấy lợi ích khách hàng làm trung tâm hoạt động
									li dfshjdfsdfsd
									
					.col-sm-6.col-lg-3.item
						.row
							.col-12.img-col
								.box-img
									i.fa.fa-moon-o.fa-5x
							.col-12.title-col
								.title
									h5 tầm nhìn
							.col-12.content-col
								ul.content-list
									li Cam kết chất lượng sản phẩm tốt nhất
									li Luôn đặt chữ tín lên hàng đầu
									li Lấy lợi ích khách hàng làm trung tâm hoạt động
									
					.col-sm-6.col-lg-3.item
						.row
							.col-12.img-col
								.box-img
									i.fa.fa-street-view.fa-5x
							.col-12.title-col
								.title
									h5 tầm nhìn
							.col-12.content-col
								ul.content-list
									li Cam kết chất lượng sản phẩm tốt nhất
									li Luôn đặt chữ tín lên hàng đầu
									li Lấy lợi ích khách hàng làm trung tâm hoạt động
									
					.col-sm-6.col-lg-3.item
						.row
							.col-12.img-col
								.box-img
									i.fa.fa-trophy.fa-5x
							.col-12.title-col
								.title
									h5 tầm nhìn
							.col-12.content-col
								ul.content-list
									li Cam kết chất lượng sản phẩm tốt nhất
									li Luôn đặt chữ tín lên hàng đầu
									li Lấy lợi ích khách hàng làm trung tâm hoạt động
									li taotoaotoa
		section.break-middle-container.container-fluid
			.content-box
				.description
					h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vel odit fugiat ratione. Ratione aliquid tempore facere saepe deserunt, ducimus sed error quis, harum dolorum modi, quam repellendus laborum quo?
				button.btn-more-detail xem thêm
		section.project-plan-container.container-fluid
			.container
				.project-plan-box
					.title
						h1 định hướng phát triển
					.project-plan-nav
						ul.own-nav.own-justify-content-center
							li.item
								a(href='#') tất cả
							li.item.own-nav.own-nav-item-active
								a(href='#') group
							li.item
								a(href='#') tin thị trường 
							li.item
								a(href='#') tin vịt
					.row.project-row
						.col-md-4.item
							.img-box
								img.img-fluid.own-full-width.own-monocolor(src="./img/home-service-01.png", alt="")
						.col-md-4.item
							.img-box
								img.img-fluid.own-full-width.own-monocolor(src="./img/home-service-02.png", alt="")
						.col-md-4.item
							.img-box
								img.img-fluid.own-full-width.own-monocolor(src="./img/home-service-03.png", alt="")

