footer.footer
	section.contact-point-container.container-fluid
		.content-container.container
			.row
				.col-5.contact-col
					.contact-box
						h5 FULLSTACK VIETNAM
						p Mobile: (+84)969689893
						p Email: admin@fullstackvietnam.com
						p Address: 28 đường số 2 - CITY LAND - Phường 7 - Gò Vấp - HCM - VIETNAM
				.col-7.links-col
					.link-box
						.row.row-01
							.col
								.link-title-box
									h5 LINKS
						.row.row-02
							.col-6
								.link-box
									ul
										li.link
											a(href="#") Khóa học FrontEnd Master
										li.link
											a(href="#") Khóa học FullStack Developer
										li.link
											a(href="#") Khóa học Design chuyên nghiệp
										li.link
											a(href="#") Lịch khai giảng
										li.link
											a(href="#") Đăng kí khóa học
							.col-6
								.link-box
									ul
										li.link
											a(href="#") Khóa học FrontEnd Master
										li.link
											a(href="#") Khóa học FullStack Developer
										li.link
											a(href="#") Khóa học Design chuyên nghiệp
										li.link
											a(href="#") Lịch khai giảng
										li.link
											a(href="#") Đăng kí khóa học
							




	section.copyright-container.container-fluid
		.container
			.row
				.col-8
					.box
						p.m-b-0 Copyright 2018 by 
							a(href='/') FullStack Vietnam.
				.col-4
					.social-box
						button.facebook-btn.social-btn
						button.twitter-btn.social-btn
				//- 		//- img.img-fluid(src="./img/facebook.png", alt="")
				//- .col-1
					
				//- 		//- img.img-fluid(src="./img/twitter.png", alt="")
			
