$vubackground: white
$vucolor: black
$nav-bar-color: #9988c1

header
	background: $nav-bar-color
	.nav.navbar.navbar-expand-lg.navbar-light.container
		color: white
body
	.abc
		.owl-theme
			.owl-nav
				[class*="owl-"]
					font-size: 2rem
	


