$vubackground: white
$vucolor: black


.no-padding
	padding: 0
.no-margin
	margin: 0
@mixin ab-position($top , $right: $top, $bottom: $top, $left: $right )
	position: absolute
	top: $top
	right: $right
	bottom: $bottom
	left: $left
	
@mixin transition-all-in-ms($ms)
	transition: ease-in-out all $ms

body
	background: $vubackground
	color: $vucolor
	.main-banner-box
		margin-bottom: 4% 
		.main-banner-pic
			width: 100%
	.main-content-container
		.major-product-container
			.row
				[class*="col-"]
					.minor-banner-box
						margin: 1vw
					.product-box
						margin: 1vw
						position: relative
						opacity: 1
						.product-pic
							@include transition-all-in-ms(500ms)
						.product-info
							@include ab-position(75%, auto, auto ,50%)
							width: 15rem
							transform: translateX(-50%) 
							background: white
							font-size: 1rem
							text-align: center
							padding: 2% 0px
							opacity: 0.5
							@include transition-all-in-ms(500ms)
						
						@include transition-all-in-ms(500ms)
						&:hover
							box-shadow: 0px 0px 3px 2px darken($vubackground,50%)
							.product-pic
								opacity: 0.8
							.product-info
								opacity: 1


