$vubackground: white
$vucolor: black
$minor-background: #dbdfe8

.no-padding
	padding: 0
.no-margin
	margin: 0
@mixin ab-position($top , $right: $top, $bottom: $top, $left: $right )
	position: absolute
	top: $top
	right: $right
	bottom: $bottom
	left: $left
	
@mixin transition-all-in-ms($ms)
	transition: ease-in-out all $ms

body
	.home
		background: $vubackground
		color: $vucolor
		section.main-carousel
			.main-banner-box
				.main-banner-pic
					width: 100%
			.owl-nav
				margin-top: 0
				[class*="owl-"]
					span
						font-size: 3rem
		section.main-content-container
			.major-product-container
				.row
					[class*="col-"]
						.minor-banner-box
							margin: 1vw
						.product-box
							margin: 1vw
							position: relative
							opacity: 1
							.product-pic
								@include transition-all-in-ms(500ms)
							.product-info
								@include ab-position(75%, auto, auto ,50%)
								width: 15rem
								transform: translateX(-50%) 
								background: white
								font-size: 1rem
								text-align: center
								padding: 2% 0px
								opacity: 0.5
								@include transition-all-in-ms(500ms)
							
							@include transition-all-in-ms(500ms)
							&:hover
								box-shadow: 0px 0px 3px 2px darken($vubackground,50%)
								.product-pic
									opacity: 0.8
								.product-info
									opacity: 1
		section.minor-product-container
			background: $minor-background
			width: 100%
			overflow: auto 
			.inner-minor-product-container
				margin: 30px auto
				.title-box
					padding: 3.2vw 0 1.5vw 0
					text-align: center
					color: #514646
					text-transform: uppercase
				.minor-carousel
					position: relative
					.owl-nav
						position: absolute
						margin: 0
						transform: translateY(-100%)
						top: -10px
						right: 15px

						[class*="owl-"]
							span
								font-size: 2rem
					.product-box
						margin : 0 15px
						.product-info
							margin: 10px 0
							text-align: center
							.own-btn
								text-transform: uppercase
								color: white
								font-size: 0.8rem
								background: #756cff
								border-radius: 1px
								border: none
								width: 5.5rem
								opacity: 0
								padding-top: 3px
								padding-bottom: 2px
								@include transition-all-in-ms(500ms)
						&:hover
							.product-info
								.own-btn
									opacity: 1
			.event-container
				.event-box
					margin: 0px 15px 4vw 15px
		section.best-seller-container
			width: 100%
			background: white
			.inner-best-seller-container
				.title-box
					padding: 3.2vw 0 1.5vw 0
					text-align: center
					color: #514646
					text-transform: uppercase
					margin-bottom: 50px
				.best-seller-carousel
					position: relative
					.product-box
						padding: 0px 10vw
						.row
							[class*="col-"]
								padding: 2vw
								.product-pic-box
									.product-info
										text-align: center
							.col-md-5.col-6
								.product-pic-box
									margin-top: 5%
									.product-pic
										padding: 2vw
					.owl-nav
						button[class*="owl-"]
							position: absolute
							width: 50px
							height: 50px
							padding: 0
							margin: 0
							border-radius: 50% 
							span
								font-size: 2.5rem
								text-align: center
								margin: 0
						.owl-prev
							top: 50%
							transform: translateY(-50%)
							left: 40px
						.owl-next
							top: 50%
							transform: translateY(-50%)
							right: 40px





